Uploading the libararies

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import argparse
import joblib
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [3]:

data = pd.read_csv('fdata.csv')
data

,Unnamed: 0,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,1,Male,Yes,1,Graduate,No,Rural,N,4583.0,1508.0,128.0,360.0,1.0
1,2,Male,Yes,0,Graduate,Yes,Urban,Y,3000.0,0.0,66.0,360.0,1.0
2,3,Male,Yes,0,Not Graduate,No,Urban,Y,2583.0,2358.0,120.0,360.0,1.0
3,4,Male,No,0,Graduate,No,Urban,Y,6000.0,0.0,141.0,360.0,1.0
4,5,Male,Yes,2,Graduate,Yes,Urban,Y,5417.0,4196.0,267.0,360.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,609,Female,No,0,Graduate,No,Rural,Y,2900.0,0.0,71.0,360.0,1.0
588,610,Male,Yes,3+,Graduate,No,Rural,Y,4106.0,0.0,40.0,180.0,1.0
589,611,Male,Yes,1,Graduate,No,Urban,Y,8072.0,240.0,253.0,360.0,1.0
590,612,Male,Yes,2,Graduate,No,Urban,Y,7583.0,0.0,187.0,360.0,1.0
591,613,Female,No,0,Graduate,Yes,Semiurban,N,4583.0,0.0,133.0,360.0,0.0

Creating Independent and Dependent Variable

In [4]:
data4Norm = data.select_dtypes(exclude = 'object')
data4Norm = data4Norm.drop(['Unnamed: 0'],axis=1)
data4Norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ApplicantIncome    592 non-null    float64
 1   CoapplicantIncome  592 non-null    float64
 2   LoanAmount         592 non-null    float64
 3   Loan_Amount_Term   592 non-null    float64
 4   Credit_History     592 non-null    float64
dtypes: float64(5)
memory usage: 23.2 KB

In [5]:
# In[4]:


dataScaled = data.copy()

# col = list(data4Norm.columns.values)
col = ['ApplicantIncome', 'CoapplicantIncome', 'Loan_Amount_Term', 'Credit_History']

features = data[col]


Normaliz = MinMaxScaler()

dataScaled[col] = Normaliz.fit_transform(features.values)

In [6]:
dataScaled = pd.get_dummies(dataScaled)


x = dataScaled.drop(['LoanAmount','Unnamed: 0'] , axis=1)
y = dataScaled['LoanAmount']

In [7]:

xtrain,xtest,ytrain,ytest = train_test_split(x,y,train_size=0.7,random_state=27)

In [9]:
#Regressor = RandomForestRegressor(n_estimators=200, n_jobs=-1,verbose=1,max_depth=5,oob_score=True)
Regressor = RandomForestRegressor(n_estimators=1000,min_samples_leaf=5,min_samples_split= 5, n_jobs=-1,verbose=1,max_depth=5,oob_score=True)

In [10]:

Regressor.fit(xtrain,ytrain)

joblib.dump(Regressor,'M:\\aazzureml\\RegressorModel.pkl')

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:    0.8s
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:    1.8s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    2.2s finished

['M:\\aazzureml\\RegressorModel.pkl']

In [11]:
ypredict = Regressor.predict(xtest)

FinalPred = pd.DataFrame({'Actual':ytest,'Predict':ypredict})


print('mean_absolute_error is ',mean_absolute_error(ytest,ypredict))

print('mean_squared_error is ',mean_squared_error(ytest,ypredict))

print('mean_squared_error is ',np.sqrt(mean_squared_error(ytest,ypredict)))

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    0.1s

mean_absolute_error is  34.60164784538774
mean_squared_error is  3052.810031788407
mean_squared_error is  55.252240061271785

[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    0.3s finished

In [12]:

error = abs(ytest-ypredict)

MAPE = 100 *(error/ytest)

Accuracy = 100 - np.mean(MAPE)
Accuracy = round(Accuracy,2)

print('Accuracy' , Accuracy,"%")

Accuracy 71.04 %